.notification-toast {
  position: fixed;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 12px;

  min-width: 300px;
  max-width: 400px;

  padding: 14px 18px;
  border-radius: 12px;

  z-index: 9999;
}

.notification-toast p {
  margin: 0;
  white-space: nowrap;
}


.notification-toast img {
  width: 24px;
  height: 24px;
}

.notification-toast.sucesso {
  background: #28a7466b;
  color: white;
  font-weight: bold;
}

.notification-toast.erro {
  background: #dc354691;
  color: white;
  font-weight: bold;
}

.notification-toast.aviso {
  background: #ffc10791;
  color: white;
  font-weight: bold;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}