.links{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 6px;
    cursor: pointer;
}

.links:hover{
    color: #00a8ff;
}

.icon{
    width: 35px;
    
}
